<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 配置和映射servlet -->
    <servlet>
        <!-- servlet注册的名字 -->
        <servlet-name>demoServlet</servlet-name>
        <!-- servlet的全类名-->
        <servlet-class>StatelessFactories</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- 需要和某一个servlet节点的servlet子节点的文本节点一致 -->
        <servlet-name>demoServlet</servlet-name>
        <!-- 映射具体 的访问路径: /  代表当前web应用的根目录 -->
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet注册的名字 -->
        <servlet-name>demoServlet2</servlet-name>
        <!-- servlet的全类名-->
        <servlet-class>UnsafeCountingFactories</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- 需要和某一个servlet节点的servlet子节点的文本节点一致 -->
        <servlet-name>demoServlet2</servlet-name>
        <!-- 映射具体 的访问路径: /  代表当前web应用的根目录 -->
        <url-pattern>/Demo2</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet注册的名字 -->
        <servlet-name>demoServlet3</servlet-name>
        <!-- servlet的全类名-->
        <servlet-class>CountingFactories</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- 需要和某一个servlet节点的servlet子节点的文本节点一致 -->
        <servlet-name>demoServlet3</servlet-name>
        <!-- 映射具体 的访问路径: /  代表当前web应用的根目录 -->
        <url-pattern>/Demo3</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet注册的名字 -->
        <servlet-name>demoServlet4</servlet-name>
        <!-- servlet的全类名-->
        <servlet-class>UnsafeCachingFactories</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- 需要和某一个servlet节点的servlet子节点的文本节点一致 -->
        <servlet-name>demoServlet4</servlet-name>
        <!-- 映射具体 的访问路径: /  代表当前web应用的根目录 -->
        <url-pattern>/Demo4</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet注册的名字 -->
        <servlet-name>demoServlet5</servlet-name>
        <!-- servlet的全类名-->
        <servlet-class>SynchronizedFactories</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- 需要和某一个servlet节点的servlet子节点的文本节点一致 -->
        <servlet-name>demoServlet5</servlet-name>
        <!-- 映射具体 的访问路径: /  代表当前web应用的根目录 -->
        <url-pattern>/Demo7</url-pattern>
    </servlet-mapping>
</web-app>